In [2]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\sbauser\.venv\second_day\lib\site-packages (1.5.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sbauser\.venv\second_day\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sbauser\.venv\second_day\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\sbauser\.venv\second_day\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: six>=1.5 in c:\users\sbauser\.venv\second_day\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

<div id = "summary"> 
<ul>
    <li>DataFrame <strong><span style = "color:red">생성</span></strong></li>
    <li>DataFrame에 <strong><span style = "color:red">Data추가/삭제/조회</span></strong></li>

</div>

# 2. DataFrame

DataFrame 이란?

<ul>
    <li> 2차원 데이터 </li>
    <li> 인덱스가 같은 하나 이상의 <strong><u>Series가 모여진 데이터</u></strong> </li>
    <li> DBMS 의 관계형 Table 과 매우 유사 </li>
</ul>


먼저 DataFrame을 사용하기 위해 Pandas 라이브러리를 import 합니다.

In [3]:
# pandas library import
import pandas as pd
#from pandas import Series, DataFrame

## 2.1 DataFrame 데이터 생성

DataFrame을 생성하기 위해 셀에 DataFrame() 이라고 입력하고 괄호 안에서 Shift+tab 을 눌러보면 아래와 같은 정보가 보입니다.  

DataFrame(<strong><span style = "color:red">data</span></strong>=None, <strong><span style = "color:red">index</span></strong>=None, <strong><span style = "color:red">columns</span></strong>=None, <strong><span style = "color:red">dtype</span></strong>=None, <strong><span style = "color:red">copy</span></strong>=False)  

값을 입력해줄 수 있고, Default 가 None이기 때문에 값이 없으면 아무 동작도 하지 않습니다. 속성값들을 하나씩 알아보겠습니다.
<ul>
    <li><strong><span style = "color:red">data</span></strong> : 저장되는 데이터</li>
    <li><strong><span style = "color:red">index</span></strong> : index에 대한 정보(미입력시 0부터 순차적으로 부여)</li>
    <li><strong><span style = "color:red">columns</span></strong> : 열에 대한 이름값(미입력시 0부터 순차적으로 부여)</li>
    <li><strong><span style = "color:red">dtype</span></strong> : 데이터에 대한 타입 명시(미입력시 자체적으로 판단)</li>
</ul>

예제를 확인하겠습니다.

In [3]:
Data1 = pd.DataFrame([[180,75],
                   [160,65],
                   [170,75], 
                   [175,80]], 
                  index = ["사람1","사람2","사람3","사람4"], 
                  columns = ["키","몸무게"])
Data1

       키  몸무게
사람1  180   75
사람2  160   65
사람3  170   75
사람4  175   80

In [4]:
print(Data1)

       키  몸무게
사람1  180   75
사람2  160   65
사람3  170   75
사람4  175   80

In [5]:
Data1.shape

(4, 2)

In [6]:
Data1.index

Index(['사람1', '사람2', '사람3', '사람4'], dtype='object')

In [7]:
Data1.values   # 2차원을 가진 ndarray

array([[180,  75],
       [160,  65],
       [170,  75],
       [175,  80]], dtype=int64)

In [8]:
Data1.columns

Index(['키', '몸무게'], dtype='object')

In [9]:
Data1.ndim

2

In [10]:
Data1.size

8

In [11]:
len(Data1)

4

index와 columns의 경우 선언후에도 별도로 입력할 수도 있습니다.

In [5]:
Data1 = pd.DataFrame([[180,75],[160,65],[170,75], [175,80]])
Data1

     0   1
0  180  75
1  160  65
2  170  75
3  175  80

In [6]:
Data1.index

RangeIndex(start=0, stop=4, step=1)

In [79]:
# 인덱스 저장
Data1.index = ["Man1","Man2","Man3","Man4"]
Data1

      Height  Weight
Man1     180      75
Man2     160      65
Man3     170      75
Man4     175      80

In [15]:
Data1.columns

RangeIndex(start=0, stop=2, step=1)

In [80]:
# 컬럼명 저장
Data1.columns = ["Height","Weight"]
Data1

      Height  Weight
Man1     180      75
Man2     160      65
Man3     170      75
Man4     175      80

In [ ]:
Data1.columns

## 2.2 DataFrame 조회
- `DataFrame[컬럼명]` : 컬럼 선택
- `DataFrame.loc["index명"]` : 특정 index만 조회 가능하다.
- `DataFrame.iloc[index번호]` : 특정 index만 조회 가능하다.

In [4]:
# 예제를 위한 데이터 생성
Data2 = pd.DataFrame([[180,75,30],[160,65,40],[170,75,32], [175,80,33]], 
                  index = ["사람1","사람2","사람3","사람4"], 
                  columns = ["키","몸무게","나이"])
Data2

       키  몸무게  나이
사람1  180   75  30
사람2  160   65  40
사람3  170   75  32
사람4  175   80  33

In [11]:
Data2[0]  # <-- column을 요구함

KeyError: 0

In [14]:
Data2[:]

       키  몸무게  나이
사람1  180   75  30
사람2  160   65  40
사람3  170   75  32
사람4  175   80  33

In [13]:
Data2[:1]

       키  몸무게  나이
사람1  180   75  30

### Column 조회

<strong><span style = "color:red">DataFrame명["속성명"]</span></strong> 또는 <strong><span style = "color:red">DataFrame명.속성명</span></strong>을 통해 <strong><u>특정 속성명만 조회</u></strong> 할 수 있다.

하나의 속성명을 조회 하면 SeriesType, 여러 속성명을 조회 하면 DataFrame으로 출력된다.

In [18]:
type(Data2[:1])  # 지정 범위를 slicing을 한 상태이므로 dataframe

pandas.core.frame.DataFrame

In [20]:
Data2.iloc[0]

키      180
몸무게     75
나이      30
Name: 사람1, dtype: int64

In [21]:
type(Data2.iloc[0])

pandas.core.series.Series

In [15]:
# 키 Column 만 조회
Data2["키"]

사람1    180
사람2    160
사람3    170
사람4    175
Name: 키, dtype: int64

In [16]:
type(Data2["키"])

pandas.core.series.Series

In [21]:
Data2.몸무게

사람1    75
사람2    65
사람3    75
사람4    80
Name: 몸무게, dtype: int64

In [22]:
# Type 은 Series
type(Data2.몸무게)

pandas.core.series.Series

In [23]:
# 두 개 이상 컬럼 조회
Data2[["키", "몸무게"]]

       키  몸무게
사람1  180   75
사람2  160   65
사람3  170   75
사람4  175   80

In [28]:
Data2[0]  # 컬럼 값이 없기 때문에

KeyError: 0

In [29]:
Data2[:1]  # ----> 되도록 iloc, loc로 대체해서 써야

       키  몸무게  나이
사람1  180   75  30

### 컬럼 슬라이싱

범위와 슬라이싱은 row 방향의 레코드를 반환한다.

- Dataframe[start:stop] 를 통해 row 인덱스 조회
- Dataframe[start:stop:step] 를 통해 row 인덱스 조회

In [5]:
Data2[1:2]

       키  몸무게  나이
사람2  160   65  40

Step  이용

In [6]:
Data2[1::2]

       키  몸무게  나이
사람2  160   65  40
사람4  175   80  33

In [7]:
Data2[::2]

       키  몸무게  나이
사람1  180   75  30
사람3  170   75  32

In [8]:
Data2[2::2]

       키  몸무게  나이
사람3  170   75  32

### Index 조회

<ul>
    <li><strong><span style = "color:red">DataFrame명.loc["index명"]</span></strong> 을 통해 특정 index만 조회 가능하다.</li>
    <li><strong><span style = "color:red">DataFrame명.iloc[index번호]</span></strong> 를 통해 특정 index만 조회 가능하다.</li>
</ul>

<img src='https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2016/10/Pandas-selections-and-indexing.png' width=600>

In [9]:
# 컬럼 조회
Data2['키']

사람1    180
사람2    160
사람3    170
사람4    175
Name: 키, dtype: int64

In [10]:
Data2[1]

KeyError: 1

In [11]:
Data2[1:2]  # index range

       키  몸무게  나이
사람2  160   65  40

In [ ]:
Data2

마찬가지로 하나의 index만 조회 할 경우 Series Type, 여러 index의 경우 DataFrame Type으로 출력한다.

In [22]:
Data2.index

Index(['사람1', '사람2', '사람3', '사람4'], dtype='object')

In [23]:
Data2.loc["사람1"]

키      180
몸무게     75
나이      30
Name: 사람1, dtype: int64

In [24]:
# 1번 인덱스 --> 사람2의 정보만 출력
Data2.iloc[0]

키      180
몸무게     75
나이      30
Name: 사람1, dtype: int64

In [25]:
# 두 개 index를 index명으로 조회
Data2.loc[["사람1","사람2"]]

       키  몸무게  나이
사람1  180   75  30
사람2  160   65  40

In [26]:
Data2.iloc[[1,2]]

       키  몸무게  나이
사람2  160   65  40
사람3  170   75  32

In [27]:
# 여러 개의 index를 index번호로 조회
Data2.iloc[1:3]

       키  몸무게  나이
사람2  160   65  40
사람3  170   75  32

In [28]:
Data2.iloc[:-2]

       키  몸무게  나이
사람1  180   75  30
사람2  160   65  40

### Index Label과 column 동시 조회

하나의 index 명과 컬럼명에 해당하는 하나의 값 찾기
<ul>
<li> DataFrame명.at["index명","컬럼명"]</li>
<li> <strong><span style = "color:red">DataFrame명.loc["index명","컬럼명"]</li>
<li> <strong><span style = "color:red">DataFrame명.loc["index명"]["컬럼명"]</li>
</ul>
여러 index명과 컬럼명에 해당하는 여러 값 찾기
<ul>
<li> <strong><span style = "color:red">DataFrame명.loc[["index명1","index명2"],["컬럼명1","컬럼명2"]]</li>
<li> <strong><span style = "color:red">DataFrame명.loc[["index명1","index명2"]][["컬럼명1","컬럼명2"]]</li>
</ul>

In [29]:
Data2.columns, Data2.index

(Index(['키', '몸무게', '나이'], dtype='object'),
 Index(['사람1', '사람2', '사람3', '사람4'], dtype='object'))

In [31]:
#사람1의 나이 찾기
Data2.loc["사람1","나이"]   #인덱스,컬럼

30

In [30]:
# ? -- column 값으로만 가능
Data2["사람1","나이"]

KeyError: ('사람1', '나이')

In [32]:
Data2.loc["사람1"]["나이"]   # ["사람1","나이"] <-- 과정은 다를 수 있으나 결과 값은 동일함

30

In [34]:
#사람2의 몸무게 찾기
Data2.loc["사람2"]["몸무게"]

65

In [ ]:
#사람3의 키 찾기
# Data2.at["사람3","키"]

In [33]:
# 사람1, 사람2 의 키 조회
Data2.loc[["사람1","사람2"]]["키"]

사람1    180
사람2    160
Name: 키, dtype: int64

In [36]:
type(Data2.loc[["사람1","사람2"]]["키"])

pandas.core.series.Series

In [37]:
# 사람1,사람2 의 키와 몸무게 조회
Data2.loc[["사람1","사람2"],["키","몸무게"]]

       키  몸무게
사람1  180   75
사람2  160   65

### Index 번호와 column 동시 조회

하나의 index 번호와 컬럼번호에 해당하는 하나의 값 찾기
<ul>
<li> DataFrame명.iat[index번호,컬럼번호]</li>
<li> DataFrame명.iloc[index번호,컬럼번호]</li>
<li> DataFrame명.iloc[index번호][컬럼번호]</li>
</ul>
여러 index 번호와 컬럼번호에 해당하는 여러 값 찾기
<ul>
<li> DataFrame명.iloc[index번호1:index번호2,컬럼번호1:컬럼명번호2]</li>
</ul>

In [42]:
Data2

       키  몸무게  나이
사람1  180   75  30
사람2  160   65  40
사람3  170   75  32
사람4  175   80  33

In [40]:
# 사람1의 나이 찾기
Data2.iloc[0, 2] # index, column의 위치 값!!!

30

In [44]:
Data2.iloc[0, '나이']  # x

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [42]:
#사람2의 몸무게 찾기
Data2.iloc[1][1]

65

In [45]:
#사람2의 몸무게 찾기
Data2.iloc[1]['몸무게']

65

In [46]:
Data2.iloc[0,['몸무게']]  # 결과는?

IndexError: .iloc requires numeric indexers, got ['몸무게']

In [47]:
#사람3의 키 찾기
Data2.iat[2,0]

170

In [48]:
# 사람1, 사람2 의 키 조회
Data2.iloc[0:2,0]

사람1    180
사람2    160
Name: 키, dtype: int64

In [49]:
# 사람1,사람2 의 키와 몸무게 조회
Data2.iloc[0:2,0:2]

       키  몸무게
사람1  180   75
사람2  160   65

### 조건 조회

In [50]:
Data2.values

array([[180,  75,  30],
       [160,  65,  40],
       [170,  75,  32],
       [175,  80,  33]], dtype=int64)

In [51]:
Data2 >= 170

         키    몸무게     나이
사람1   True  False  False
사람2  False  False  False
사람3   True  False  False
사람4   True  False  False

In [52]:
Data2["키"] >= 170

사람1     True
사람2    False
사람3     True
사람4     True
Name: 키, dtype: bool

In [53]:
# 키가 170 이상인 사람만 조회
Data2[ Data2["키"] >= 170 ]

       키  몸무게  나이
사람1  180   75  30
사람3  170   75  32
사람4  175   80  33

In [53]:
Data2[ Data2 >= 180 ]

         키  몸무게  나이
사람1  180.0  NaN NaN
사람2    NaN  NaN NaN
사람3    NaN  NaN NaN
사람4    NaN  NaN NaN

### 상위/하위 데이터 조회

<ul>
<li>head(개수) : 위에서부터 개수만큼의 데이터만 출력</li>
<li>tail(개수) : 밑에서부터 개수만큼의 데이터만 출력</li>
</ul>
개수를 쓰지 않을 경우 5개만 출력

In [54]:
Data2.iloc[:3]

       키  몸무게  나이
사람1  180   75  30
사람2  160   65  40
사람3  170   75  32

In [55]:
Data2[:1]

       키  몸무게  나이
사람1  180   75  30

In [54]:
Data2.head(3)

       키  몸무게  나이
사람1  180   75  30
사람2  160   65  40
사람3  170   75  32

In [56]:
Data2.tail(1)  # - index와 동일

       키  몸무게  나이
사람4  175   80  33

In [57]:
Data2[:2]

       키  몸무게  나이
사람1  180   75  30
사람2  160   65  40

## 2.3 Enumeration

 데이터 프레임을 만들고 이를 순환문으로 처리하면 실제 칼럼정보만 처리된다.

In [57]:
for i in Data2 :
    print(i)

키
몸무게
나이

In [58]:
for idx, v in enumerate(Data2) :
    print(idx, v)

0 키
1 몸무게
2 나이

In [ ]:
Data2['키'], type(Data2['키'])

데이터 프레임 행으로 읽어오기

In [59]:
Data2.items()

In [64]:
for i in Data2.items():
    # print(i)
    print(i[1])

사람1    180
사람2    160
사람3    170
사람4    175
Name: 키, dtype: int64
사람1    75
사람2    65
사람3    75
사람4    80
Name: 몸무게, dtype: int64
사람1    30
사람2    40
사람3    32
사람4    33
Name: 나이, dtype: int64

In [65]:
for i in Data2.iterrows() :   # 행 값만 나옴
    print(i)

('사람1', 키      180
몸무게     75
나이      30
Name: 사람1, dtype: int64)
('사람2', 키      160
몸무게     65
나이      40
Name: 사람2, dtype: int64)
('사람3', 키      170
몸무게     75
나이      32
Name: 사람3, dtype: int64)
('사람4', 키      175
몸무게     80
나이      33
Name: 사람4, dtype: int64)

In [ ]:
for i,s in Data2.iterrows() :
    print(i,s,type(s))

데이터 프레임에 있는 원소를 열로 가져오기

In [ ]:
print(df.iteritems())

In [66]:
for i, s in Data2.iteritems() :
    print(i,s, type(s))

키 사람1    180
사람2    160
사람3    170
사람4    175
Name: 키, dtype: int64 <class 'pandas.core.series.Series'>
몸무게 사람1    75
사람2    65
사람3    75
사람4    80
Name: 몸무게, dtype: int64 <class 'pandas.core.series.Series'>
나이 사람1    30
사람2    40
사람3    32
사람4    33
Name: 나이, dtype: int64 <class 'pandas.core.series.Series'>

C:\Users\SBAUser\AppData\Local\Temp\ipykernel_5600\2858462345.py:1: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for i, s in Data2.iteritems() :

In [ ]:
print(df.items())

In [ ]:
for i,s in df.items() :
    print(i,s, type(s))

## 2.4 데이터 추가, 삭제

### Column 추가

#### 값으로 추가

In [67]:
Data2

       키  몸무게  나이
사람1  180   75  30
사람2  160   65  40
사람3  170   75  32
사람4  175   80  33

In [68]:
Data2["나이"] = [31,41,31,31]
Data2

       키  몸무게  나이
사람1  180   75  31
사람2  160   65  41
사람3  170   75  31
사람4  175   80  31

#### Series 또는 DataFrame에서 추가

In [69]:
Data1

   Height  Weight
0     180      75
1     160      65
2     170      75
3     175      80

In [70]:
Data1["Weight"] / (Data1["Height"] / 100)

0    41.666667
1    40.625000
2    44.117647
3    45.714286
dtype: float64

In [71]:
 Data1["Weight"] / ((Data1["Height"] / 100) * (Data1["Height"] / 100))

0    23.148148
1    25.390625
2    25.951557
3    26.122449
dtype: float64

In [72]:
# bmi = 몸무게(kg) / 키(m)*키(m)
Data1["BMI"] = Data1["Weight"] / ((Data1["Height"] / 100) * (Data1["Height"] / 100))
Data1

   Height  Weight        BMI
0     180      75  23.148148
1     160      65  25.390625
2     170      75  25.951557
3     175      80  26.122449

In [73]:
del Data1['BMI']

In [83]:
Data1['Test'] = [1,2,3,4]
Data1

      Height  Weight  Test
Man1     180      75     1
Man2     160      65     2
Man3     170      75     3
Man4     175      80     4

###  행 추가

append 함수를 이용해서 행기준으로 데이터를 추가 할 수 있습니다.

#### Series와 List를 이용한 행추가

In [81]:
Data1.columns

Index(['Height', 'Weight'], dtype='object')

In [85]:
listOfSeries = [pd.Series([187, 85, 34], index = Data1.columns),
               pd.Series([183, 80, 32], index = Data1.columns)]

In [86]:
listOfSeries

[Height    187
 Weight     85
 Test       34
 dtype: int64,
 Height    183
 Weight     80
 Test       32
 dtype: int64]

In [87]:
Data1 = Data1.append(listOfSeries)
Data1

C:\Users\SBAUser\AppData\Local\Temp\ipykernel_5600\3017719769.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Data1 = Data1.append(listOfSeries)

      Height  Weight  Test
Man1     180      75     1
Man2     160      65     2
Man3     170      75     3
Man4     175      80     4
0        187      85    34
1        183      80    32

#### DataFrame을 행기준으로 추가

In [12]:
df = pd.DataFrame([[180,75],[160,65]], 
               index = ["사람5","사람6"], 
               columns = ["Height","Weight"])
df

     Height  Weight
사람5     180      75
사람6     160      65

In [13]:
Data1.append(df)

NameError: name 'Data1' is not defined

### 데이터 삭제

drop 함수를 쓰면 행과 열을 삭제 할 수 있습니다.

axis option
<ul>
<li>0 : 행 기준 삭제</li>
<li>1 : 열 기준 삭제</li>
</ul>

####  열 삭제

In [95]:
Data1

      Height  Weight  Test
Man1     180      75     1
Man2     160      65     2
Man3     170      75     3
Man4     175      80     4
0        187      85    34
1        183      80    32

In [98]:
Data1 = Data1.drop("Test", axis = 1)
Data1

KeyError: "['Test'] not found in axis"

In [99]:
Data1.drop('Man4', axis=0)

      Height  Weight
Man1     180      75
Man2     160      65
Man3     170      75
0        187      85
1        183      80

#### del

In [100]:
del Data1['Height']

In [101]:
Data1

      Weight
Man1      75
Man2      65
Man3      75
Man4      80
0         85
1         80

#### 행 삭제

In [ ]:
Data1

In [ ]:
Data1 = Data1.drop("Man1", axis = 0)
Data1

# 2.5 Options

## max_columns

컬럼 수가 많은 경우에는 처음과 끝의 컬럼을 제외하고 나머지 컬럼들은 축약이 되서 `[...]` 으로 표시된다. 일단 실험해보기 위해서 랜덤한 실수로 구성된 1000개의 값들을 10행 100컬럼으로 이루어진 데이터프레임을 생성해보자.

In [103]:
import numpy as np

In [104]:
df = pd.DataFrame(np.random.random(1000).reshape(10,100))
df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.316860,0.056933,0.895226,0.550103,0.712452,0.707293,0.481292,0.416672,0.945034,0.367735,...,0.700010,0.649476,0.532004,0.942561,0.928495,0.298786,0.537698,0.032706,0.911623,0.067472
1,0.189269,0.804121,0.834982,0.925694,0.609126,0.725265,0.742543,0.442621,0.078293,0.633221,...,0.119336,0.728709,0.756270,0.584668,0.692091,0.382137,0.298211,0.507679,0.006553,0.936893
2,0.516116,0.566759,0.204913,0.552264,0.709754,0.180887,0.482490,0.786767,0.905965,0.770242,...,0.891207,0.850015,0.377506,0.899549,0.988071,0.179552,0.356540,0.531654,0.525610,0.298726
3,0.376401,0.565706,0.774909,0.063008,0.807049,0.384853,0.068678,0.206454,0.794769,0.159326,...,0.298052,0.006984,0.686183,0.969450,0.732967,0.532955,0.951361,0.043785,0.422428,0.922412
4,0.463032,0.954789,0.899838,0.174271,0.290803,0.331263,0.789637,0.363030,0.973947,0.038099,...,0.265111,0.423624,0.192715,0.793096,0.197704,0.231044,0.372999,0.837946,0.320961,0.125858

### display.max_columns 사용

전체적인 변수들을 한번에 보고싶은 경우에 options 안의  `display.max_columns` 옵션 사용해서 모두 표시할 수 있다.

In [ ]:
PREV_COL_NUMS = pd.options.display.max_columns
PREV_COL_NUMS

In [106]:
pd.options.display.max_columns = 100
pd.options.display.max_columns

100

In [107]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99
0,0.316860,0.056933,0.895226,0.550103,0.712452,0.707293,0.481292,0.416672,0.945034,0.367735,0.887443,0.243328,0.405418,0.462191,0.778994,0.646464,0.716516,0.752389,0.451890,0.744974,0.986795,0.231676,0.035910,0.675335,0.511953,0.240017,0.875073,0.229896,0.379188,0.934603,0.526541,0.846182,0.178214,0.972255,0.036669,0.780263,0.401925,0.068711,0.744026,0.906728,0.257456,0.279021,0.903624,0.406019,0.033912,0.878390,0.969362,0.073389,0.827389,0.035209,0.636329,0.638414,0.785230,0.314802,0.684686,0.698129,0.176160,0.307864,0.823163,0.559225,0.745007,0.019344,0.915869,0.181418,0.437769,0.148067,0.309471,0.592474,0.702443,0.447449,0.106059,0.063306,0.240342,0.277355,0.405686,0.850831,0.327973,0.628325,0.899411,0.468112,0.066600,0.492713,0.190008,0.417543,0.277446,0.166785,0.436052,0.603182,0.620852,0.864138,0.700010,0.649476,0.532004,0.942561,0.928495,0.298786,0.537698,0.032706,0.911623,0.067472
1,0.189269,0.804121,0.834982,0.925694,0.609126,0.725265,0.742543,0.442621,0.078293,0.633221,0.915079,0.680623,0.354951,0.733479,0.034943,0.578178,0.038517,0.028441,0.663636,0.390382,0.512290,0.149916,0.375641,0.559767,0.970585,0.798518,0.505971,0.166771,0.622311,0.309229,0.193834,0.624203,0.024631,0.696744,0.894056,0.024301,0.651524,0.329674,0.123531,0.587788,0.904328,0.826907,0.405936,0.580145,0.556154,0.660120,0.437663,0.366118,0.710513,0.337263,0.662592,0.997698,0.239771,0.941905,0.241293,0.715845,0.780397,0.362599,0.438862,0.713123,0.147511,0.267771,0.660923,0.798255,0.489518,0.726394,0.884299,0.017469,0.467518,0.176907,0.365594,0.485271,0.210997,0.548764,0.185385,0.759899,0.816364,0.008540,0.430066,0.218870,0.452946,0.027113,0.692667,0.758806,0.214638,0.178507,0.190721,0.378675,0.451255,0.736694,0.119336,0.728709,0.756270,0.584668,0.692091,0.382137,0.298211,0.507679,0.006553,0.936893
2,0.516116,0.566759,0.204913,0.552264,0.709754,0.180887,0.482490,0.786767,0.905965,0.770242,0.732738,0.271588,0.404753,0.698686,0.317574,0.373922,0.793353,0.743438,0.640474,0.303344,0.515368,0.543901,0.583597,0.001499,0.726188,0.844628,0.448771,0.571765,0.398971,0.216485,0.253966,0.925909,0.421059,0.324574,0.096103,0.536566,0.902014,0.951294,0.961571,0.781220,0.945001,0.625809,0.802558,0.227309,0.347077,0.964525,0.173129,0.151874,0.259228,0.819845,0.961975,0.451279,0.143767,0.700634,0.779476,0.628105,0.478359,0.032865,0.174931,0.193720,0.129834,0.926401,0.941728,0.588601,0.190231,0.804317,0.380994,0.422701,0.159986,0.127959,0.638628,0.461878,0.115619,0.759755,0.710699,0.349523,0.030924,0.135477,0.208326,0.209392,0.926687,0.478437,0.421004,0.118700,0.097753,0.048170,0.868875,0.373638,0.574552,0.474314,0.891207,0.850015,0.377506,0.899549,0.988071,0.179552,0.356540,0.531654,0.525610,0.298726
3,0.376401,0.565706,0.774909,0.063008,0.807049,0.384853,0.068678,0.206454,0.794769,0.159326,0.305523,0.199704,0.842269,0.306573,0.873678,0.191781,0.871418,0.918915,0.092621,0.900964,0.427230,0.277757,0.426297,0.503107,0.443119,0.671870,0.431837,0.533488,0.165893,0.980271,0.463130,0.722958,0.082534,0.907084,0.767659,0.316442,0.775242,0.698995,0.267927,0.785291,0.532273,0.209851,0.944533,0.261752,0.045167,0.565976,0.198347,0.888480,0.301296,0.086289,0.020202,0.626427,0.726690,0.619318,0.273440,0.386731,0.621738,0.594895,0.859184,0.422347,0.843747,0.352899,0.287732,0.489616,0.304009,0.963528,0.223929,0.674035,0.609275,0.834513,0.822086,0.999924,0.923598,0.397838,0.640384,0.259247,0.160920,0.935499,0.350588,0.572622,0.485022,0.041028,0.919803,0.381350,0.132644,0.675774,0.926049,0.482511,0.692361,0.195489,0.298052,0.006984,0.686183,0.969450,0.732967,0.532955,0.951361,0.043785,0.422428,0.922412
4,0.463032,0.954789,0.899838,0.174271,0.290803,0.331263,0.789637,0.363030,0.973947,0.038099,0.964591,0.612054,0.903198,0.450656,0.732088,0.938237,0.477220,0.768495,0.347379,0.997500,0.849871,0.487889,0.806465,0.485142,0.653125,0.043679,0.333261,0.963408,0.728280,0.719950,0.006003,0.740023,0.883891,0.871721,0.629982,0.316664,0.199623,0.381723,0.489017,0.767066,0.640890,0.621493,0.668808,0.700378,0.472618,0.815094,0.844305,0.439134,0.317411,0.069927,0.466328,0.800108,0.095631,0.290610,0.961288,0.817892,0.629684,0.848981,0.737063,0.598112,0.753568,0.781764,0.299517,0.373453,0.686926,0.594257,0.633957,0.775604,0.511370,0.715020,0.359930,0.628322,0.634564,0.341278,0.996337,0.211575,0.220103,0.708979,0.166502,0.286280,0.517284,0.640885,0.162722,0.991731,0.457685,0.053826,0.451513,0.173331,0.243233,0.457660,0.265111,0.423624,0.192715,0.793096,0.197704,0.231044,0.372999,0.837946,0.320961,0.125858

In [108]:
pd.options.display.max_columns = PREV_COL_NUMS

NameError: name 'PREV_COL_NUMS' is not defined

In [ ]:
pd.get_option('display.max_columns')

### set_option() 사용

`pd.set_option(OPTION_VAR)` 안에 최대 컬럼 수 `display.max_columns` 를 지정해주면 된다.